## Google Kubernetes Engine Configuration
# GCP_PROJECT=
# PROJECT_NAME=
# ZONE=
# NUM_NODES=
# MIN_NODES=
# MAX_NODES=
# MACHINE_TYPE=
# NODE_POOL_NAME=
# DISK_SIZE=

## Helm Chart Configuration
# AIRFLOW_RELEASE_NAME=
# INGRESS_RELEASE_NAME=